<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Server </title>
</head>
<body>
    <h1>Hello! Welcome to the Express server</h1>
    <h2>
        Counter:
    </h2>
    <h1>
        <%= counter %>
    </h1>
    <form action="/addTwo" method="get">
        <button type="submit">Add 2</button>
    </form>
    <form action="/reset" method="get">
        <button type="submit">reset</button>
    </form>

    
</body>
</html>